<footer class="p-5">
  <div class="container p-5">
    <div class="row g-4">
      <div class="col-md-4">
        <div>
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <h3>AROUND THE WEB</h3>
          <ul
            class="list-unstyled d-flex align-items-center justify-content-center gap-2 w-50"
          >
            <li>
              <i class="fab fa-facebook-f"></i>
            </li>
            <li>
              <i class="fab fa-twitter"></i>
            </li>
            <li>
              <i class="fab fa-linkedin-in"></i>
            </li>
            <li>
              <i class="fas fa-globe"></i>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
